@import "tailwindcss";

@font-face {
  font-family: 'Founders';
  src: url('./assets/fonts/FoundersGrotesk-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsCustom';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FoundersGrotesk';
  src: url('/fonts/FoundersGrotesk-Semibold.ttf') format('truetype');
}

